node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
*.log
logs
*.pid
*.seed
*.pid.lock
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
jspm_packages
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.idea
.vscode
*.swp
*.swo
*~
.project
.classpath
.c9
*.launch
.settings/
*.sublime-workspace
dist
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*
kubernetes
.github
docker-compose*.yml
README.md
LICENSE
tests
__tests__
*.test.js
*.spec.js